@charset "utf-8";

@media (max-width: 1199px){
  
    
    #about .wrap, 
    #carrer .wrap, 
    #skill .wrap, 
    #portfolio .wrap
    {
        width: 100%; 
    }
    #rental .wrap,
    #allnego .wrap,
    #niccier .wrap,
    #roxtimer .wrap{
        width: 90%;
    }

    #about .wrap .imgPart{
        width: 30%; height: auto;
    }
    #about .wrap .txtPart{
        width: 60%; height: auto;
    }
   
    #portfolio .wrap .slideBox{
        width: 80%;
    }

    
}
@media (max-width: 767px){
    header .menu{        
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.75);
        z-index: -1; opacity: 0;
    }
    header .menu.active{
        z-index: 2;
        opacity: 1;
        transition: opacity 0.5s;
    }
    header .menu ul{
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header .menu ul li{
        margin:2vh 0;
        border-right: none;
    }
    header .menu ul li a{
        font-size: 24px;
        font-weight: bold;
    }

    header .resBtn{display: block;}


    #about{
        height: 100%;
    }
    #about .wrap{
        flex-direction: column;
        text-align: center;
        padding: 50px 0;
    }
    #about .wrap .txtPart {
        width: 100%;
        padding-top: 50px;
    }
    #about .wrap .txtPart ul li {
        flex-direction: column;
    }
    #about .wrap .txtPart ul li ul{
        width: 100%;
        margin-bottom: 10px;
    }

    #skill .wrap{
        padding: 50px 0;
    }


    .wrap .title{
        font-size: 36px;
        padding-bottom: 20px;
    }
    
    #rental .wrap .textPart, 
    #rental .wrap .viewPart,
    #allnego .wrap .textPart, 
    #allnego .wrap .viewPart,
    #niccier .wrap .textPart, 
    #niccier .wrap .viewPart,
    #roxtimer .wrap .textPart, 
    #roxtimer .wrap .viewPart{
        flex-direction: column;
    }
    #rental .wrap .textPart p, 
    #rental .wrap .viewPart p,
    #allnego .wrap .textPart p, 
    #allnego .wrap .viewPart p,
    #niccier .wrap .textPart p, 
    #niccier .wrap .viewPart p,
    #roxtimer .wrap .textPart p, 
    #roxtimer .wrap .viewPart p{
        margin-bottom: 10px;
    } 


}
@media (max-width: 567px){
    main h2{
        left: 30%;
    }

    #about .wrap .imgPart {
        width: 50%;
    }
    #about .wrap .txtPart {
        width: 90%;
    }   

    #skill .skillBox{
        width: 90%;
    }

    #portfolio .wrap .slideBox .innerBox .cont .imgPart{
        width: 60%; height: 30%;
    }
    #portfolio .wrap .slideBox .innerBox .cont .txtPart{
        width: 60%;
    }

    #portfolio .wrap .slideBox .innerBox .cont .txtPart .bottom .detail_btn a{
        margin-bottom: 20px;
        width: 70px; height: 20px;
        font-size: 14px;
        line-height: 1;
    }
}

@media (max-width: 400px){
    #carrer .wrap .carrerbox{
        width: 90%;
    }
    #carrer .wrap .carrerbox > div{
        height: 200px;
    }
    #carrer .wrap .else{
        width: 80%;
    }
}




@media (max-height: 899px){
    #portfolio, #contact{height: 100%;}
}

@media (max-height: 649px){
    #about, #skill{height: 100%;}
}